# Nuxt build outputs
.output
.nuxt
.nitro
.cache

# gh-pages deploy
dist

# Dependencies
node_modules

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea